.onboarding {
  .step {
    text-align: center;
    margin-top: 48px;

    h1 {
      font-size: 24px;
      font-weight: 700;
    }

    p {
      font-size: 16px;
      color: var(--ion-color-medium);
      margin-bottom: 24px;
    }

    ion-button {
      height: 64px;
      font-size: 18px;
    }
  }
}
